<!doctype html>
{% load static %}

<html lang="en" style="height: 100%;">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static '/main.css' %}">
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="{% static 'node_modules/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static '/custom.css' %}">

    <title>West Midlands Regional Bank</title>
  </head>
  <body style="height: 100%;">
    <div class="jumbotron bg-primary margin h-15">
      <h1 class="text-white text-center font-weight-bold font-family-sans-serif" style="font-size: 54px">WEST MIDLANDS REGIONAL BANK</h1>
      <div class="container">
        <ul class="nav justify-content-end" id="navbar">

        </ul>
      </div>
    </div>
    <div class="fluid-container h-100">
      <div class="container col-centered p-100 h-100" id="blockContent">
        {% block content %}{% endblock %}
      </div>
    </div>

    

    <script src="{% static 'js/createNav.js' %}"></script>


  </body>

  <footer class="page-footer font-small text-white bg-primary pt-4">
    <div class="container-fluid text-center text-md-left">
      <div class="row">
        <div class="col-md-6 mt-md-0 mt-3">
          <h5 class="text-uppercase">WEST MIDLANDS REGIONAL BANK</h5>
          <p>Putting you in Control of your Finances</p>
      </div>
      <hr class="clearfix w-100 d-md-none pb-3">
      <div class="col-md-6 mb-md-0 mb-3">
        <h5 class="text-uppercase">Links</h5>
        <ul class="list-unstyled" id="footer">
        </ul>
      </div>
    </div>
  </div>
</footer>

</html>