.nav-link {color: white;}
.nav-link:hover, .nav-link:focus, .footer-Link:hover, .footer-Link:hover {
    color: black;
}
.fluid-container {
    background-color: white;
}
.content {
    background-color: lightgrey;
}
.footer-Link {color: white; text-decoration: none;}
